*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
/.idea/sonarlint/issuestore/index.pb
/.idea/misc.xml
/.idea/sonarlint/issuestore/8/b/8b1d49ff5c8937aa752a0d1b417f10108cf3bcb4
/.idea/sonarlint/issuestore/e/a/ea08aff460fe96b300af400da444e256f9fe67a0
/.idea/sonarlint/issuestore/index.pb
/.idea/misc.xml
/.idea/sonarlint/issuestore/8/b/8b1d49ff5c8937aa752a0d1b417f10108cf3bcb4
/.idea/sonarlint/issuestore/index.pb
/.idea/sonarlint/issuestore/2/e/2efa4539731c75c5694aca8bdbdfe76267b53cf9
/.idea/sonarlint/issuestore/8/4/8441e833b0113347606de4fd1934d2a9e1d926d5
/.idea/sonarlint/issuestore/9/4/94919174bc987d90a08140280c92e2b00cd00ce8
/.idea/sonarlint/issuestore/9/f/9f7fcc4109b338a79bea1163840ec967decf3c77
/.idea/sonarlint/issuestore/f/c/fc4876445b8b0873104c004651e0ce46ea8a3440
/.idea/sonarlint/issuestore/index.pb
/.idea/sonarlint/issuestore/index.pb
