*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
/.idea/sonarlint/issuestore/index.pb
/.idea/misc.xml
/.idea/sonarlint/issuestore/8/b/8b1d49ff5c8937aa752a0d1b417f10108cf3bcb4
/.idea/sonarlint/issuestore/e/a/ea08aff460fe96b300af400da444e256f9fe67a0
/.idea/sonarlint/issuestore/index.pb
/.idea/misc.xml
/.idea/sonarlint/issuestore/8/b/8b1d49ff5c8937aa752a0d1b417f10108cf3bcb4
/.idea/sonarlint/issuestore/index.pb
